
<!-- templates/add_entry.html -->
{% extends "base.html" %}
{% block content %}
<h1>Add a Journal Entry</h1>
<div class="card">
    <textarea placeholder="Add text here..."></textarea>
    <div style="text-align: right;">
        <img src="{{ url_for('static', filename='mic-icon.png') }}" style="width: 24px;">
    </div>
</div>
<h2 style="text-align: center;">How do you feel?</h2>
<div class="mood-container">
    <button class="mood-button" style="background-color: #FF4D4D;"></button>
    <button class="mood-button" style="background-color: #FFA07A;"></button>
    <button class="mood-button" style="background-color: #FFD700;"></button>
    <button class="mood-button" style="background-color: #90EE90;"></button>
    <button class="mood-button" style="background-color: #32CD32;"></button>
</div>
<a href="{{ url_for('home') }}" class="button">Done!</a>
{% endblock %}
