<!-- templates/home.html -->
{% extends "base.html" %}
{% block content %}
<h1 style="text-align: center;">Welcome Back!</h1>
<a href="{{ url_for('add_entry') }}" class="button">Add journal entry...</a>
<a href="{{ url_for('display_entries') }}" class="button">Your previous Journal Entries...</a>
<a href="{{ url_for('connect') }}" class="button">Connect with Similar Patients</a>
<a href="#" class="button">Contact Doctor</a>
<div class="emergency">
    If this is an emergency, call 911
</div>
{% endblock %}
